.block {
    display: block;
}

.reveal section img.center-white-img {
    background: #fff;
    border: 0;
    box-shadow: none;
    display: block;
    margin: 0 auto;
    max-width: 50%;
    max-height: 50%;
    padding: 12px;
}
